thead {
  background-color: lightgrey;
}

.hidden {
  display: none;
}

.container .header {
  background-color: grey;
  padding-top: 10px;
  border: 1px;
  border-radius: 10px;
}

.footer p {
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  font-size: 0.75em;
  text-align: center;
  height: 59px;
  margin: 0 auto;
  color: #fff;
  clear: both;
  padding: 2em 2em;
  background: #273A02;
  position: relative;
  top: 508px;
  border: 1px;
  border-radius: 10px;
}

.body-container {
}

.main-row {
  padding-top: 10px;
}

.header .header-title {
  text-align: left;
}

.header .text-line1 {
  color: white;
  // color: #1F340F;
  font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-weight: normal;
  font-size: 1.50em;
	letter-spacing: .2em;
	line-height: 1.1em;
	margin:0px;
	text-align: left;
	text-transform: uppercase;
}

.header .text-line2 {
  color: white;
  // color: #1F340F;
  font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-weight: normal;
  font-size: 2.25em;
	letter-spacing: .2em;
	line-height: 1.1em;
	margin:0px;
	text-align: left;
	text-transform: uppercase;
}
